<div class="navbar-collapse collapse" align="center" style="margin: 5px; margin-bottom: 10px;">
    <a asp-area="" asp-controller="Faction" asp-action="Index" class="T1">Factions</a>
    <a asp-area="" asp-controller="Race" asp-action="Index" class="T1">Races</a>
    <a asp-area="" asp-controller="Channel" asp-action="Index" class="T1">Channels</a>
    <a asp-area="" asp-controller="Player" asp-action="Index" class="T1">Players</a>
</div>